﻿body {
    padding: 0;
}

.navbar {
    border-radius: 0px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 100%;
}


.success-message {
    position: absolute;
    background-color: aquamarine;
    width: 400px;
    height: auto;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.main-page {
    padding: 50px;
}

.home-btns {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #222222;
    font-size: 30px;
    margin: 20px;
    border: 2px solid #222222;
    transition: background-color .5s, border .5s ;
}

.home-btns:hover  {
    background-color: white;
    
}

.home-btns:hover .home-btns a {
    color: #222222;
}

.home-btns a {
    color: #9d9d9d;
    transition: color .5s;
}

.home-btns a:hover {
    text-decoration:  none;
}


#create-user-form {
    max-width: 500px;
    margin: 0px auto;
}

#create-post-form {
    max-width: 500px;
    margin: 0px auto;
}



#MainContent_editUserForm, #MainContent_editPostForm, #MainContent_editCommentForm{
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    z-index: 999;
    color: #999999;
}

#MainContent_editUserForm {
    max-width: 400px;
}

#MainContent_editPostForm {
    min-width: 600px;
}

#MainContent_editCommentForm {
    min-width: 600px;
}





.blog-post-title {
    font-weight: bold;
}

.blog-post-date {
    color: red;
}

.blog-post-author {
    color: blue;
}

.like-box, .cmnt-box {
    display: inline-block;
}














.blog-post-box {
    background-color: #F1F1F1;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}



.post-title {
    font-size: 40px;
    color: #000;
    font-weight: bold;
}

.post-body {
    padding: 30px;
}







/*------ SideNav ------ */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.opennav {
    font-size:30px;
    cursor:pointer
}

#jsMainContent {
    transition: margin-left .5s;
    padding: 16px;
}




/*------  Comments Form ------ */

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.card-header {
    padding: 1.3rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 2.25rem;
    margin: 0px -15px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;

}


/*------  Comments Box ------ */

.all-comments {
    padding: 10px 40px;
}


.comment-header {
    padding: 1.3rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 2.25rem;
    margin:-10px -40px;
}

.comment-author {
    margin: 20px 0px;
    width: 15%;
    color: #428aca;
}
.comment-body {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    background-color: rgba(0,0,0,.03);
}
.comment-body:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.comment-btns {
    margin: 20px 0px;
}


/*------  Like Section ------ */

.likeSection {
    margin-bottom:20px;
}